* {
  margin: 0;
  padding: 0;
}


.App{
  background-color: rgb(161, 196, 161);
  height: 100vh;
}

.page {
  /* width: 60%; */
  height: 90vh;
  display: flex;
  background-color: rgb(205, 236, 205);
  justify-content: center;
  /* padding: 20px; */
  margin: 0px 250px 8px 250px;
}